<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<span class="form-title">Recipes</span>
			<div class="recipe-contents"  style="padding-top: 20px">
				<% @recipes.each do |recipe| %>
					<div class="recipe-content">
						<%= link_to recipe_path(recipe) do %>
							<%= attachment_image_tag recipe, :recipe_image, format:"jpg",
								fallback:"top_recipe.jpg", class:"recipe-image" %>
							<p style="font-size: 20px">
								<i class="fas fa-utensils"> <%= recipe.title %></i>
							</p>
						<% end %>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>