<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<p class="form-title" style="text-align: center;font-size: 30px" >
				Thank you for your purchase!
			</p>
			<p style="text-align: center;margin-bottom: 50px">
				~注文を承りました。引き続きDelitableをお楽しみください~<br>
				ご購入内容はマイページの注文一覧よりご確認いただけます
			</p>
			<div class="top-contents">
				<%= link_to products_path do %>
					<div class="top-content top-vegetable">
						<div class="top-content-text">
								<span>[Delivary]<br>
								~野菜の配送サービス~</span>
						</div>
					</div>
				<% end %>
				<%= link_to customer_path(current_customer) do %>
					<div class="top-content top-about">
						<div class="top-content-text">
								<span>[My_page]</span>
						</div>
					</div>
				<% end %>
				<%= link_to recipes_path do %>
					<div class="top-content top-recipe">
						<div class="top-content-text">
								<span>[Recipe]<br>
								~レシピの共有~</span>
						</div>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>
