<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<div class="top-images">
				<div class="top1">
					<div class="top-image-text">Welcome to Delitable</div>
				</div>
				<div class="top2">
					<div class="top-image-text">Welcome to Delitable</div>
				</div>
				<div class="top3">
					<div class="top-image-text">Welcome to Delitable</div>
				</div>
				<div class="top4">
					<div class="top-image-text">Welcome to Delitable</div>
				</div>
				<div class="top5">
					<div class="top-image-text">Welcome to Delitable</div>
				</div>
			</div>
			<div style="margin:30px auto ">
				<% if flash[:notice] %>
				 	<div class="good-flash"><i class="fas fa-check-circle"></i>
				 		<%= flash[:notice]%>
				 	</div>
				<% end %>
				<span class="form-title">
					<% if customer_signed_in? %>
						Enjoy Delitable!
					<% else %>
						Welcome to Delitable!
					<% end %>
				</span>
			</div>
			<p>
			   当サイトは食材の宅配サービスや、レシピの投稿・閲覧をお楽しみいただけます。<br>
				初めての方はまずは下記『About』にて詳しい説明をご確認ください
			</p>

			<div class="top-contents">
				<%= link_to products_path, data: {"turbolinks" => false} do %>
					<div class="top-content top-vegetable">
						<div class="top-content-text">
								<span>[Delivary]<br>
								~野菜の配送サービス~</span>
						</div>
					</div>
				<% end %>
				<%= link_to about_path, data: {"turbolinks" => false} do %>
					<div class="top-content top-about">
						<div class="top-content-text">
								<span>[About]<br>
								~Delitableの紹介~</span>
						</div>
					</div>
				<% end %>
				<%= link_to recipes_path, data: {"turbolinks" => false} do %>
					<div class="top-content top-recipe">
						<div class="top-content-text">
								<span>[Recipe]<br>
								~レシピの共有~</span>
						</div>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>
