/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

*{
  margin:0;
  padding: 0;
}
html, body {
  height: 100%;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  padding-top: 20px;
  position: relative;
  background-color: white;
}

header{
 	background-color: #FCE77D;
 	margin-top: auto;
}

.navbar-nav{
  li{
    margin-right: 15px;
  }
}

.navbar-toggler-icon{
  background-image: image-url("menu.jpeg");
  border-radius: 5px;
}

footer{
	background-color: #FCE77D;
	width: 100%;
	position: absolute;
	bottom: 0;
	margin-top: 30px;
}

.footer-logo{
	float: right;
  background-image: image-url("logo.jpg");
  background-size: cover;
  height: 50px;
  width: 130px;
}

.top-btn{
  color: black;
  float: right;
  cursor: pointer;
  margin: 20px;
}

.navbar-brand{
	background-image: image-url("logo.jpg");
  background-size: cover;
  width: 220px;
  height: 80px;
}

a{
	color: black;
  &:hover{
    color: #F96167;
    text-decoration: underline;
  }
}

.form-title{
	border-bottom: 2px solid #F96167;
	font-family: impact;
  font-size: 30px;
}

.btn-center{
  margin-top: 20px;
  padding: 10px 60px;
}

textarea {
    padding: 3px;
}

.recipe-tag{
  background-color: #ffc107;
  border-radius: 5px;
  margin: 10px;
  padding: 5px;
}

[type="search"] {
    outline-offset: -2px;
    -webkit-appearance: auto;
    padding: 4px;
  }

.bad-flash{
  color: red;
  font-size: 15px;
  font-weight: bold;
}

.good-flash{
  color: green;
  font-family: impact;
  font-size: 15px;
}

.font-lg{
  font-size: 25px;
}

.font-md{
  font-size: 18px;
}

.font-sm{
  font-size: 15px;
}

.br-pc {
  display:block;
}
.br-tb{
  display:none;
}
.br-sp {
  display:none;
}

.mr-w{
  margin: 0 30px;
}
.hidden-pc{
  display: none;
}

.page-item.active .page-link {
    color: black;
    background-color: #FCE77D;
    border-color: #FCE77D;
}
.page-link {
    color: black;
}
.pagination {
  justify-content: flex-end;
}

@media screen and (max-width: 959px) {
  /* 959px以下に適用されるCSS（タブレット用） */
  .navbar-toggler-icon {
    height: 70px;
    width: 70px;
  }

  .br-pc {
    display:none;
  }
  .br-tb{
    display:block;
  }
  .br-sp {
    display:none;
  }

  .hidden-tb{
    display: none;
  }
  .hidden-pc{
    display: block;
  }
}
@media screen and (max-width: 480px) {
  /* 480px以下に適用されるCSS（スマホ用） */
  body {
    padding-top: 3rem;
  }

  .navbar-brand {
    width: 80px;
    height: 30px;
  }

  .navbar {
    padding: 0 1rem;
  }

  .nav-link {
    padding: 0.2rem 1rem;
    font-size: 10px;
  }

  .navbar-toggler-icon {
    height: 30px;
    width: 30px;
  }

  .footer-logo {
    height: 25px;
    width: 70px;
  }
  .top-btn {
    margin: 5px;
    font-size: 10px;
  }

  .form-title{
  border-bottom: 1px solid #F96167;
  font-size: 20px;
  }

  .font-lg{
  font-size: 15px;
  }

  .font-md, .font-sm, .font-md-sp, .btn,.bad-flash, .good-flash, p, a, label, input,
  .form-control, textarea, select{
    font-size: 10px;
  }
  .btn-sm{
    padding: 0.2rem 0.3rem;
  }
  .btn{
    padding: 0.3rem 0.4rem;
  }

  .br-pc {
    display:none;
  }
  .br-tb{
    display:none;
  }
  .br-sp {
    display:block;
  }

  .hidden-sp{
    display: none;
  }
  .hidden-pc{
    display: block;
  }

  .mr-w{
  margin: 0 10px;
  }

  .form-control{
    height: calc(1.25rem + 2px);
  }

  .table td {
    padding: 0.25rem;
    font-size: 10px;
  }
  .table th {
    padding: 0.25rem;
    font-size: 10px;
  }
  .page-link {
    padding: 0.25rem 0.5rem;
  }
}
