// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.product-contents{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.product-content{
	width: 21%;
	margin: 0 2%;
	display: flex;
	flex-direction: column;

	  margin: 15px;
	  float: left;
	  visibility: hidden;
}

.product-image{
	height: auto;
	width: 100%;
	margin: 0 0;
    border-radius: 5px;
}

.product-show{
	width: 100%;
	border-radius: 5px;
}

.genres{
	padding-top: 5px;
	padding-bottom: 5px;
}

.genre_name{
	background-color: white;
	border:0px solid black;
	cursor: pointer;
	padding-bottom: 3px;
	&:hover{
		color: #F96167;
		text-decoration: underline;
	}
}

@media screen and (max-width: 959px) {
  /* 959px以下に適用されるCSS（タブレット用） */

}
@media screen and (max-width: 480px) {
  /* 480px以下に適用されるCSS（スマホ用） */
	.genres{
		padding: 0;
	}
}