// Place all the styles related to the recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.recipe-contents{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.recipe-content{
  width: 28%;
  margin: 15px 2.5%;
  display: flex;
  flex-direction: column;
  border: 1px solid #F96167;
  padding: 10px;
  border-radius: 10px;
  background-color: #fffefc;

  margin: 15px;
  float: left;
  visibility: hidden;

  box-shadow: 3px 3px 3px 3px #faebd7;
}

.recipe-image{
  width: 100%;
  margin: 0 0;
  height: 220px;
  background-color: #F5F5F5;
  object-fit: contain;
  border-radius: 10px;
}
.recipe-image-show{
  width: 100%;
  height: 405px;
  margin: 0 0;
  background-color: #F5F5F5;
  object-fit: contain;
  border-radius: 10px;
}

.recipe-intro{
  position: absolute;
  bottom: 5%;
  left: 0;
  background-color: rgba(128, 128, 128, 0.5);
  color: white;
  font-weight: bold;
  border-radius: 5px;
  margin: 2%;
  padding: 3%;
  display: none;
}

.recipe-show{
  width: 90%;
  margin: 0 5%;
}

.comment-image{
	border-radius: 50%;
	height: 80px;
	width: 80px;
	object-fit: contain;
	border: 0.5px solid #F96167;
	background-color: #F5F5F5
}

@media screen and (max-width: 959px) {
  /* 959px以下に適用されるCSS（タブレット用） */
  .recipe-image{
    height: 130px;
  }
  .recipe-image-show{
    height: 520px;
  }
}
@media screen and (max-width: 480px) {
  /* 480px以下に適用されるCSS（スマホ用） */
  .recipe-image{
    height: 100px;
  }
  .recipe-image-show{
    height: 260px;
  }
  .recipe-content{
    width: 45%;
    margin: 15px 2.5%;
	}
  .comment-image {
    height: 25px;
    width: 25px;
   }
   .recipe-tag{
	  margin: 5px;
	  padding: 3px;
	}
}