// Place all the styles related to the recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.recipe-contents{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.recipe-content{
    width: 28%;
    margin: 15px 2.5%;
    display: flex;
    flex-direction: column;
    border: 1px solid #F96167;
    padding: 10px;
    border-radius: 10px;
    background-color: #fffefc;
}

.recipe-image{
	width: 100%;
	margin: 0 0;
	border-radius: 10px;
}

.recipe-show{
  width: 90%;
  margin: 0 5%;
}

.comment-image{
	border-radius: 50%;
	height: 80px;
	width: 80px;
	object-fit: contain;
	border: 0.5px solid #F96167;
	background-color: #F5F5F5
}