// Place all the styles related to the relationships controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.follow-image{
	border-radius: 50%;
	height: 100px;
	width: 100px;
	object-fit: contain;
	border: 0.5px solid #F96167;
	background-color: #F5F5F5
}

@media screen and (max-width: 480px) {
  /* 480px以下に適用されるCSS（スマホ用） */
  .follow-image{
	height: 40px;
	width: 40px;
	}

}